<div class="clr-row">
    <div class="clr-col-lg-3 clr-col-md-6 clr-col-12">
        <div class="card">
            <div class="card-header">
                Shadowrun
            </div>
            <div class="card-block">
                <div class="card-title">
                    Nächster Termin:
                </div>
                <div class="card-text">
                    <span>26.09.2020 (Sa)</span>

                </div>
                <div class="card-text">
                    <span>11:00</span>
                </div>
            </div>
            <div class="card-block">
                <span class="label">Julian <span class="badge">GM</span></span>
                <span class="label">Andreas <span class="badge">
                        <clr-icon shape="check"></clr-icon>
                    </span></span>
                <span class="label">Christopher <span class="badge">
                        <clr-icon shape="times"></clr-icon>
                    </span></span>
                <span class="label">Jeremy <span class="badge">
                        <clr-icon shape="times"></clr-icon>
                    </span></span>
                <span class="label">Silas <span class="badge">
                        <clr-icon shape="check"></clr-icon>
                    </span></span>
                <span class="label">Dominik <span class="badge">
                        <clr-icon shape="times"></clr-icon>
                    </span></span>
            </div>
            <div class="card-footer">
                <button class="btn btn-sm btn-link">Zusagen</button>
                <button class="btn btn-sm btn-link">Erinnern</button>
            </div>
        </div>
    </div>
    <div class="clr-col-lg-3 clr-col-md-6 clr-col-12">
        <div class="card">
            <div class="card-header">
                Star Trek
            </div>
            <div class="card-block">
                <div class="card-title">
                    Nächster Termin:
                </div>
                <div class="card-text">
                    <span>26.09.2020 (Sa)</span>

                </div>
                <div class="card-text">
                    <span>11:00</span>
                </div>
            </div>
            <div class="card-block">
                <span class="label">Julian <span class="badge">GM</span></span>
                <span class="label">Andreas <span class="badge">
                        <clr-icon shape="check"></clr-icon>
                    </span></span>
                <span class="label">Christopher <span class="badge">
                        <clr-icon shape="times"></clr-icon>
                    </span></span>
                <span class="label">Rainer <span class="badge">
                        <clr-icon shape="times"></clr-icon>
                    </span></span>
                <span class="label">Silas <span class="badge">
                        <clr-icon shape="check"></clr-icon>
                    </span></span>
                <span class="label">Dominik <span class="badge">
                        <clr-icon shape="times"></clr-icon>
                    </span></span>
            </div>
            <div class="card-footer">
                <button class="btn btn-sm btn-link">Zusagen</button>
                <button class="btn btn-sm btn-link">Erinnern</button>
            </div>
        </div>
    </div>
</div>